POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=agentic_bi_dev
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
ENVIRONMENT=dev
LOG_LEVEL=INFO

LLM_PROVIDER=openai
LLM_MODEL=gpt-4o-mini
LLM_TEMPERATURE=0.0

MULTIMODAL_LLM_PROVIDER=openai      # openai    # ollama
MULTIMODAL_LLM_MODEL=gpt-5-nano       # gpt-5-nano    # gemma4:31b-cloud

ANTHROPIC_API_KEY=your_api_key
OPENAI_API_KEY=your_api_key
GROQ_API_KEY=your_api_key
GEMINI_API_KEY=your_api_key
OLLAMA_API_KEY=your_api_key

EMBEDDING_PROVIDER=openai
EMBEDDING_MODEL=text-embedding-3-small
LOCAL_EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2

RERANKER_PROVIDER=local
COHERE_MODEL=rerank-v3.5
COHERE_API_KEY=your_api_key
LOCAL_RERANKER_MODEL=BAAI/bge-reranker-base