POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=agentic_bi_dev
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
ENVIRONMENT=dev
LOG_LEVEL=INFO

LLM_PROVIDER=openai
LLM_MODEL=gpt-4o-mini
LLM_TEMPERATURE=0.0

ANTHROPIC_API_KEY=your_api_key
OPENAI_API_KEY=your_api_key
GROQ_API_KEY=your_api_key
GEMINI_API_KEY=your_api_key

EMBEDDING_PROVIDER=openai
EMBEDDING_MODEL=text-embedding-3-small
LOCAL_EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2